@charset "utf-8";

/* importing to font */
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Adding to font */
.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

.smooch-regular {
  font-family: "Smooch", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  min-width: 1024px;
  background-color: #323232;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* header on here */
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  border: solid 2px #dcdcdc0c;
  border-radius: 50px;
  background-color: #32323221;
  backdrop-filter: blur(25px);
  left: 32.5%;
  gap: 30px;
}

header img {
  width: 75px;
  height: 25px;
}

header .years {
  display: flex;
  flex-direction: row;
  gap: 7.5px;
}

header .years a {
  text-decoration: none;
}

header .years .y2025 {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
  color: #DCDCDC;
}

header .years .y2025:hover {
  color: #888888;
}

header .years .y2024 {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
  color: #DCDCDC;
}

header .years .y2024:hover {
  color: #ffbe98;
}

header .years .y2023 {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
  color: #DCDCDC;
}

header .years .y2023:hover {
  color: #bb2649;
}

header .contract {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
  color: #DCDCDC;
}

header .contract:hover {
  color: #ff5a69;
}

header .years .more {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  padding: 8px;
  color: #DCDCDC;
}

header .years .more:hover {
  color: #ff5a69;
}

header a {
  text-decoration: none;
}

/* section on here */

.section1 {
  display: block;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 38vh;

  background-image: -webkit-linear-gradient(top, transparent, transparent 1.8em, #535353 0);
  background-size: 100% 1.9em;
}

.section1 .backSign {
  display: block;
  position: absolute;
  top: 40%;
  left: 29.5%;
  width: 600px;
  height: 250px;
  opacity: 40%;
}

.section1 .textBox {
  display: flex;
  position: relative;
  color: #DCDCDC;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 10;
}

.section1 .textBox .top {
  display: block;
  position: relative;
  top: 35px;
}

.section1 .textBox h1 {
  font-family: "Smooch", cursive;
  font-size: 100px;
  letter-spacing: 5px;
}

.section1 .textBox p {
  padding-bottom: 25px;
}